<div class="row">
     <a class="btn btn-info  btn-lg pull-left  " href="/kitchenStart" role="button" >Back</a>

    <h1 style="text-align: center"> &nbsp; All Orders</h1>
</div>

{{#each orders}}

<div class="row">
    <h2> Table {{table}} &nbsp;&nbsp;</h2>
</div>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Meal</th>
            <th scope="col">serve</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each meals}}
        {{#if filled}}
        <tr >
            <th scope="row">{{inc @index }}</th>
            <td>{{name}}</td>
            <td>{{serve}}</td>
            <td><button class="btn btn-success" disabled>
          &nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp; served &nbsp;&nbsp;
            </button></td>
        </tr>
        {{else}}
        <tr class="bg-info" >
            <th scope="row">{{inc @index }}</th>
            <td>{{name}}</td>
            <td>{{serve}}</td>
            <td><button type="button"  class="btn btn-danger" disabled>
          not servered</button></span>
            </td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>

{{/each}}
<div class="row">
    <div class="col-md-12">
<a class="btn btn-success  btn-lg pull-right " href="/allOrders" role="button" >Refresh</a>
    </div>
</div>
<hr>
