<div class="row">
     <a class="btn btn-info  btn-lg pull-left  " href="/kitchenStart" role="button" >Back</a>

    <a class="btn btn-success  btn-lg pull-right " href="/addmeal" role="button" >Add meals</a>
</div>
<div  class="row">
<h1>All Meals</h1>
</div>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Picture</th>
      <th scope="col">Meal</th>
      <th scope="col">Price</th> 
      <th scope="col"></th> 
      <th scope="col"></th> 
    </tr>
  </thead>
  <tbody>
      {{#each mealData}}
    <tr>
      <th scope="row">{{inc @index }}</th>
      <td><img src="/images/uploaded/{{picture}}" alt="{{name}}" 
      class="rounded img-thumbnail mealList"  /></td>
      <td>{{name}}</td>
      <td>{{price}}</td>
      <td><a href="meal/{{id}}" class="btn btn-info" ><span class="glyphicon glyphicon-pencil" ></span> &nbsp;&nbsp;Edit</a></td>
      <td><a href="meals/delete/{{id}}" class="btn btn-warning" >delete</a></td>
    </tr>
    {{else}}
    <tr>
        <td class="text-center" colspan="5"><strong font="2em">No Meal in Menu</strong></td>
    </tr>
    {{/each}}
  </tbody>
</table>