

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Picture</th>
      <th scope="col">Meal</th>
      <th scope="col">Price</th> 
      <th scope="col"></th> 
    </tr>
  </thead>
  <tbody>
      {{#each mealData}}
    <tr>
      <th scope="row">{{inc @index }}</th>
      <td><img src="/images/uploaded/{{picture}}" alt="{{name}}" 
      class="rounded img-thumbnail mealList"  /></td>
      <td class="align-middle">{{name}}</td>
      <td class="align-middle">{{price}}</td>
      <td class="align-middle">
        <input type="number" id="{{id}}" , name="serve" min="0" max="10">
      <button type="button" onclick="takeOrder('{{name}}', '{{picture}}',{{price}},'{{id}}')" class="btn btn-success pull-right">
          Add to order</button>
      </td>
    </tr>
    {{else}}
    <tr>
        <td class="text-center" colspan="5"><strong font="2em">No Meal in Menu</strong></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> success</h4>
      </div>
      <div class="modal-body">
        <p ></p>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->